#projetos {
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 20px;
}

.secao-titulo-bg1 {
  font-family: var(--font-titulo);
  font-size: 9rem;
  font-weight: 900;
  text-align: center;
  color: var(--c15);
  letter-spacing: 4px;
  margin-bottom: 60px;
  line-height: 1;
  user-select: none;
  pointer-events: none;
}

.projetos-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.projeto-card {
  background-color: var(--c15);
  border-radius: 6px;
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.projeto-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* deco barra azul */
.card-barra {
  width: 10px;
  height: 24px;
  background: var(--gradient);
  position: absolute;
  top: -12px;
  left: 10px;
  border-radius: 1px;
}

.card-conteudo {
  padding: 24px 20px 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-proj {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.card-proj h3 {
  font-family: var(--font-titulo);
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--c1);
  margin: 0;
  display: flex;
}

.card-ano {
  font-family: var(--font-titulo);
  font-size: 0.9rem;
  color: var(--c7);
  white-space: nowrap;
  margin-left: 16px;
}

/* descricao */
.card-conteudo > p {
  font-family: var(--font-texto);
  font-size: 0.9rem;
  line-height: 1.6;
  color: var(--c5);
  margin: 0 0 16px;
  flex: 1;
}

.card-tags {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.card-tags li {
  font-family: var(--font-texto);
  font-size: 0.75rem;
  padding: 4px 8px;
  color: var(--c5);
  border: 1px solid var(--c9);
  border-radius: 5px;
}

/* botao projeto */
.card-btn {
  display: block;
  text-align: center;
  padding: 8px 12px;
  font-family: var(--font-texto);
  font-size: 0.85rem;
  font-weight: 500;
  background: var(--c1);
  color: var(--c15);
  border-radius: 5px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

/* botao desabilitado */
.card-btn.em-andamento {
  background: var(--c11);
  color: var(--c7);
  cursor: not-allowed;
  pointer-events: none;
}

/* ----- RESPONSIVIDADE ----- */
@media (max-width: 1100px) {
  .projetos-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .secao-titulo-bg1 {
    font-size: 6rem;
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .projetos-grid {
    grid-template-columns: 1fr;
  }

  .secao-titulo-bg1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
    margin-bottom: 28px;
  }
}
