#sobre {
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px 20px 80px;
}

.sobre-card {
  display: flex;
  gap: 20px;
  align-items: stretch;
  background-color: var(--c14);
  border-radius: 8px;
  border: 2px solid var(--c15);
  overflow: hidden;

  min-height: auto;
}

/* ---------- IMAGEM ---------- */
.sobre-imagem {
  flex: 1;
  padding: 30px 0px 30px 30px;
  display: flex;
}

.sobre-imagem figure {
  width: 100%;
  height: 100%;
  position: relative;
}

.sobre-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  border-radius: 8px;
}

/* figcaption FIXO dentro da imagem */
.sobre-imagem figcaption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 0.75rem;
  color: var(--c6);
  background-color: var(--c13);
  padding: 10px 20px;
  border-radius: 6px;
}

/* ---------- CONTEÚDO ---------- */
.sobre-conteudo {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: relative;

  justify-content: space-between;
}

/* bloco de texto (topo) */
.sobre-conteudo h2 {
  font-family: var(--font-titulo);
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 36px;
}

.sobre-conteudo p {
  font-size: 1.6rem;
  color: var(--c5);
  line-height: 1.4;
  margin-bottom: 24px;
}

.sobre-conteudo strong {
  color: var(--c1);
  font-weight: 700;
}

/* linha decorativa */
.sobre-conteudo::after {
  content: "";
  position: absolute;
  bottom: 24px;
  right: 40px;
  width: 260px;
  height: 5px;
  background: linear-gradient(90deg, #0e5ee4 0%, #0400c7 100%);
  border-radius: 10px;
}

/* ---------- REDES SOCIAIS ---------- */
.redes-sociais {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: auto;
}

.redes-sociais li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  background-color: var(--c15);
  border-radius: 6px;
  box-shadow: inset 0 0 0 0.5px #0e5ee4;
  transition: background-color 0.2s;
}

.redes-sociais li a:hover {
  background-color: var(--c12);
}

.redes-sociais li a img {
  width: 36px;
  height: 36px;
}

/* ---------------- RESPONSIVO ---------------- */

@media (max-width: 1500px) {
  .sobre-card {
    min-height: auto;
  }

  .sobre-imagem {
    flex: 0.85;
    padding: 24px;
  }

  .sobre-imagem img {
    object-position: center 15%;
  }

  .sobre-conteudo {
    flex: 1.15;
    padding: 36px 36px 48px 0px;
  }

  .sobre-conteudo h2 {
    font-size: 2.8rem;
    margin-bottom: 24px;
  }

  .sobre-conteudo p {
    font-size: 1.4rem;
    margin-bottom: 18px;
  }

  .sobre-conteudo::after {
    width: 200px;
    right: 36px;
    height: 4px;
    bottom: 20px;
  }

  .redes-sociais li a {
    width: 62px;
    height: 62px;
  }

  .redes-sociais li a img {
    width: 30px;
    height: 30px;
  }
}

/* Mobile */
@media (max-width: 1024px) {
  #sobre {
    padding: 20px 24px;
  }

  .sobre-card {
    flex-direction: column;
    min-height: auto;
  }

  .sobre-imagem {
    padding: 20px 20px 0 20px;
    max-height: 320px;
    overflow: hidden;
  }

  .sobre-imagem figure {
    height: 320px;
  }

  .sobre-imagem img {
    object-position: center center;
  }

  .sobre-imagem figcaption {
    bottom: 32px;
    left: 12px;
    padding: 12px 24px;
  }

  .sobre-conteudo {
    padding: 24px;
    gap: 20px;
  }

  .sobre-conteudo h2 {
    font-size: 2rem;
    margin-bottom: auto;
  }

  .sobre-conteudo p {
    font-size: 1.2rem;
    margin-bottom: auto;
  }

  .redes-sociais {
    margin-top: 0;
  }

  .sobre-conteudo::after {
    width: 120px;
    height: 4px;
  }

  .redes-sociais li a {
    width: 56px;
    height: 56px;
  }

  .redes-sociais li a img {
    width: 28px;
    height: 28px;
  }
}
